{% extends "base.html" %}
{% block title %}Attachment Pair {{ attachment_pair.name }} Details{% endblock %}
{% block content %}
  <h1 class="text-center">{{ attachment_pair.name }}</h1>
  <hr>
  
  <h2>Female Objects</h2>
  {% from "table_modules/object_table.html" import render_object_table %}
  {{ render_object_table(attachment_pair.female_objects, enable_search=False, enable_csv=False) }}

  <h2>Male Objects</h2>
  {{ render_object_table(attachment_pair.male_objects, enable_search=False, enable_csv=False) }}
{% endblock %}
