{% extends "base.html" %}
{% block title %}Object {{ object }} Details{% endblock %}
{% block content %}
  <h1 class="text-center">{{ object }}</h1>
  <hr>
  <h4 class="text-center">
    {% if object.ready %}<span class="text-success">Ready</span>{% elif object.planned %}<div class="text-warning">Planned</div>{% else %}<div class="text-danger">Need Action</div>{% endif %} 
    | Category: <a href="{{ url_for('category_detail', name=object.category.name) }}">{{ object.category }}</a> | Original name: {{ object.original_name }} | Provider: {{ object.provider }}
  </h4>

  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title mb-0">Object Image</h5>
    </div>
    <img class="card-img-bottom" src="{{ object.image_url }}" alt="{{ object }} photo" />
  </div>

  <h2>Meta Links</h2>
  <div class="container">
    <div class="row">
      {% for meta_link in object.meta_links %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ meta_link.name }}</h5>
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-12">
        <div class="alert alert-info">No meta links found</div>
      </div>
      {% endfor %}
    </div>
  </div>

  <h2>Scene / Rooms</h2>
  <ul>
      {% for roomobject in object.roomobjects %}
      <li><a href="{{ url_for('scene_detail', name=roomobject.room.scene.name) }}">{{ roomobject.room.scene.name }} - {{ roomobject.room.name }} - {% if roomobject.room.ready %}Ready{% else %}Future{% endif %}: {{ roomobject.count }}</a></li>
      {% else %}
      <li>None</li>
      {% endfor %}
  </ul>

  <h2>Synsets</h2>
  {% with G=object.category.synset.subgraph, center_node=object.category.synset %}
    {% include "synset_graph_module.html" %}
  {% endwith %}
{% endblock %}
