/object_images
/generate_object_images.success
/sanitycheck.json
/objects
/export_objs.success
/meshes
/export_meshes.json
/export_meshes.success
/object_list.json
/object_list.success
/sanitycheck.success
