/object_images
/generate_object_images.success
/camera_images
/generate_camera_images.success
/sanitycheck.json
/object_list.json
/object_list.success
/sanitycheck.success
/room_object_list.json
/room_object_list.success
/objects
/export_objs.json
/meshes
/export_meshes.json
/export_meshes.success
/scene
/export_scene.success
/export_objs.success
/validate_objs.json
/validate_objs.success
/validate_scene.json
/validate_scene.success
