/object_images
/generate_object_images.success
/sanitycheck.json
/object_list.json
/object_list.success
/sanitycheck.success
/objects
/export_objs.success
/meshes
/export_meshes.json
/export_meshes.success
/export_objs.json
/validate_objs.json
/validate_objs.success
