/object_list.json
/sanitycheck.json
/object_list.success
/export_objs.json
/export_meshes.success
/meshes
/export_meshes.json
/objects
/export_objs.success
/sanitycheck.success
/validate_objs.json
/validate_objs.success
