/top.png
/sanitycheck.json
/sanitycheck.success
/objects
/export_objs.success
/scene
/export_scene.success
/meshes
/export_meshes.success
/export_meshes.json
/object_list.json
/object_list.success
/validate_objs.json
/validate_objs.success
/generate_object_images.success
/camera_images
/generate_camera_images.success
/validate_scene.json
/validate_scene.success
/export_objs.json
/scene.urdf
/generate_max_object_images.json
/check_collisions.json
/check_collisions_with_clutter.json
/file_manifest.json
/file_manifest_deep.json
