/top.png
/camera_images
/generate_camera_images.success
/object_images
/generate_images.success
/generate_object_images.success
/sanitycheck.json
/object_list.json
/object_list.success
/sanitycheck.success
