black>=22.10.0
dask[distributed]>=2023.1.1
dvc~=3.42.0
dvc-gs~=3.0.1
fs>=2.4.16
jupyter>=1.0.0
matplotlib>=3.5.2
networkx>=2.8.5
nltk>=3.7
numpy>=1.22.3
opencv-python>=4.5.5.64
pillow>=9.1.0
py-spy>=0.3.14
pyyaml>=6.0
ruamel-yaml>=0.17.21
scipy>=1.8.0
selenium>=4.1.5
sshfs>=2022.6.0
tqdm>=4.64.0
trimesh>=3.12.0