# Example Husky config
robot:
  name: Husky
  action_type: continuous
  action_normalize: true
  proprio_obs:
    - joint_qpos
    - joint_qvel
  reset_joint_pos: null
  base_name: null
  scale: 1.0
  self_collision: false
  include_sensor_names: null
  exclude_sensor_names: null
  sensor_config:
    VisionSensor:
      sensor_kwargs:
        image_height: 128
        image_width: 128
    ScanSensor:
        sensor_kwargs:
          min_range: 0.05
          max_range: 10.0
  controller_config:
    base:
      name: JointController