/object_list.json
/export_objs.json
/objects
/meshes
/export_meshes.json
/object_list.success
/export_objs.success
/export_meshes.success
/sanitycheck.json
/sanitycheck.success
/validate_objs.json
/validate_objs.success
/generate_max_object_images.json
/file_manifest.json
/file_manifest_deep.json
