/top.png
/object_images
/generate_object_images.success
/camera_images
/generate_camera_images.success
/object_list.json
/sanitycheck.json
/object_list.success
/sanitycheck.success
/room_object_list.json
/room_object_list.success
