{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
    <html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BEHAVIOR</title>
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="dist/css/style.css">
        <!-- <link rel="icon" href="./assets/behavior_logo3.png"> -->
    </head>
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <section class="hero">
                    <div class="container">
                        <div class="hero-inner">
                            <div class="hero-copy">
                                <h1 class="hero-title mt-0">BEHAVIOR-1K</h1>
                                <p class="hero-paragraph" style="color:#D0D0D0">a platform for accelerating embodied AI research</p>
                                <div class="hero-cta">
                                    <a class="button button-primary" href="./getting_started/installation.html">Get Started</a>
                                    <a class="button" href="https://github.com/StanfordVL/BEHAVIOR-1K">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <main>
            </main>
        </div>
    </body>
    </html>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
