/object_inventory.json
/combined_room_object_list.json
/combined_room_object_list.success
/object_inventory.success
/aggregate_objs.success
/aggregate_objs.json
/aggregate_scenes.success
/aggregate_scenes.json
/pack_dataset.json
/usdify_objs.success
/usdify_scenes.success
/aggregate_metadata.json
/aggregate_metadata.success
/sanitycheck.success
/object_list.success
/export_meshes.success
/export_objs.json
