/object_inventory.json
/combined_room_object_list.json
/combined_room_object_list.success
/object_inventory.success
/aggregate_objs.success
/aggregate_objs.json
/aggregate_scenes.success
/aggregate_scenes.json
/pack_dataset.json
/pack_dataset.success
/usdify_objs.success
/usdify_scenes.success
/aggregate_metadata.json
/aggregate_metadata.success
/sanitycheck.success
/object_list.success
/export_meshes.success
/export_objs.json
/export_objs.success
/make_maps.success
/vertex_reduction.json
/vertex_reduction.success
/usdify_objects.success
/usdify_objects.json
/usdify_scenes.json
/collision_selection_validation.json
/collision_selection_validation.success
/collision_average_volumes.json
/collision_average_volumes.success
/validate_scenes.json
/validate_meta_links.json
/generate_systems.json
/generate_systems.success
/generate_fillable_volumes.json
/export_scenes.json
/export_scenes.success
/object_images
/patch_sampled.success
/generate_max_object_images.success
/combined_file_manifest.json
