/object_inventory.json
/combined_room_object_list.json
/combined_room_object_list.success
/object_inventory.success
/aggregate_objs.success
/aggregate_objs.json
/aggregate_scenes.success
/pack_dataset.success
/aggregate_scenes.json
/pack_dataset.json
/usdify_objs.success
/usdify_scenes.success
