/room_object_list.json
/room_object_list.success
/top.png
/sanitycheck.json
/sanitycheck.success
/objects
/export_objs.success
/scene
/export_scene.success
/meshes
/export_meshes.success
/export_meshes.json
/object_list.json
/object_list.success
/validate_objs.json
/validate_objs.success