/object_images
/generate_object_images.success
/camera_images
/generate_camera_images.success
/meshes
/export_meshes.json
/export_meshes.success
/objects
/export_objs.success
/scene
/export_scene.success
/room_object_list.json
/room_object_list.success
/object_list.json
/object_list.success
