<?xml version='1.0' encoding='us-ascii'?>
<robot name="W6Kpd71c">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape\visual\window-xdxisn-0.obj" />
         </geometry>
      </visual>
      <collision>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape\collision\window-xdxisn-0.obj" />
         </geometry>
      </collision>
   </link>
</robot>