layout anaconda og

source $HOME/.local/share/ov/pkg/isaac_sim-2022.1.1/setup_conda_env.sh

export GIBSON_ASSETS_PATH=$HOME/Repositories/og_data/ig_assets
export IGIBSON_DATASET_PATH=$HOME/Repositories/og_data/ig_dataset
