<?xml version='1.0' encoding='us-ascii'?>
<robot name="xHaIPapp">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape\visual\desk-zlyqcq-0.obj" />
         </geometry>
      </visual>
      <collision>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape\collision\desk-zlyqcq-0.obj" />
         </geometry>
      </collision>
   </link>
</robot>